* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

.questions, .main {
  margin-left: 10px; font-size: 12px;
}
.category-header {
  margin-left: 14px; color: black;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.category-name {
  font-size: 20px;
}

.category-title {
  font-size: 40px;
  text-align: center;
}

.box {
  margin: 20px;
  border: groove 2px;
}

section > button {
  margin: 10px;
}